<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><%= link_to "Diligent", root_path %>Lab </div>
        <ul class="nav navbar-nav navbar-right"> 
          <li><%= link_to "About Us", "#" %></li>
          <li><%= link_to "Blog", "#" %></li>
          <li><%= link_to "Investors", "#" %></li> 
        </ul>
    </div>
  </div>
</header>